@font-face {
  font-family: 'Lato';
  src:  url('/assets/fonts/Lato-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

$brand: #00c63d;
$gray: #c2c2c1;
$white: #fff;
$darkgray: #3e3e3e;
$footer: #383838;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 350px) { @content; }
  }
}